// 项目主题 颜色配置
// 主题色
$main_color:#F9A639;
$main_color_bg:#FFF8EC;
$main_color_success:#1CD0BD;
$main_color_success1:#52C41A;
$main_color_error:#FF5D5D;
$main_color_error1:#FF1A2E;
$main_font_color:black;
$main_font_color1:rgba(0,0,0,0.6);
$main_font_color3:rgba(0,0,0,0.4);
$main_font_color2:rgba(0,0,0,0.8);
$main_font_color4:rgba(0,0,0,0.2);
$content_color_bg:white;
// 圆角
$border_radius: 16px;
// 动画时间
$transition_time:0.3s;
// opacity
$opacity_val:0.1;
// 最小宽高
$min_width:550px;
$min_height:600px;
// 默认字体大小
$default_font_size:14px;